@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.supheader {
  background: #F2F2F2;
  padding: 0.875rem 0;
}

.supheader .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.supheader__text {
  color: #666;
}

@media (max-width: 424px) {
  .supheader__text {
    font-size: 0.75rem;
  }
}

.supheader__link {
  margin-left: 1.25rem;
  color: #666;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.supheader__link:hover {
  color: #FFB619;
}

@media (max-width: 424px) {
  .supheader__link {
    margin-left: 0.625rem;
  }
}

.header {
  width: 100%;
}

.header .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
}

.header .wrapper .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 686px) {
  .header .wrapper .nav .logo {
    width: 90%;
    vertical-align: bottom;
  }
}

@media (max-width: 686px) {
  .header .wrapper .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.75rem 1.5rem;
    padding-top: 4.0625rem;
    margin: 0;
    border: none;
    background: #1b1922f2;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
  }
}

.header .wrapper .nav__menu_item {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 2.5rem;
  color: #333;
  padding-bottom: 3px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.header .wrapper .nav__menu_item::after {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background: #FFB619;
  position: absolute;
  bottom: 0;
  left: -100%;
}

@media (max-width: 686px) {
  .header .wrapper .nav__menu_item::after {
    width: calc(100% - 50%);
  }
}

.header .wrapper .nav__menu_item:hover {
  color: #FFB619;
}

.header .wrapper .nav__menu_item:hover::after {
  left: 0;
}

@media (max-width: 905px) {
  .header .wrapper .nav__menu_item {
    margin-left: 1.25rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 686px) {
  .header .wrapper .nav__menu_item {
    color: #ddd;
    font-size: 1.125rem;
    letter-spacing: 1.8px;
    line-height: 2.8125rem;
    margin: 0;
  }
}

.header .wrapper .nav__menu_item:last-child {
  margin-left: 1.5625rem;
}

@media (max-width: 686px) {
  .header .wrapper .nav__menu {
    top: 0;
    right: -100%;
  }
}

.header .wrapper .nav ._open {
  right: 0;
}

._lock {
  overflow: hidden;
}

.menu-burger {
  display: none;
}

@media (max-width: 686px) {
  .menu-burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 1;
  }
}

.menu-burger span, .menu-burger::before, .menu-burger::after {
  left: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #333333;
}

.menu-burger::before, .menu-burger::after {
  content: "";
}

.menu-burger::before {
  top: 0;
}

.menu-burger::after {
  bottom: 0;
}

.menu-burger span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

._close span {
  background: #ddd;
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

._close::before {
  background: #ddd;
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

._close::after {
  background: #ddd;
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.promo {
  background: url("../img/bg_img.jpeg") center/cover no-repeat;
  padding: 7.375rem 0;
}

@media (max-width: 720px) {
  .promo {
    padding: 3.6875rem 0;
  }
}

@media (max-width: 430px) {
  .promo {
    padding: 2.4375rem 0;
  }
}

.promo .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
}

.promo .promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

@media (max-width: 720px) {
  .promo .promo__wrapper {
    display: block;
    text-align: center;
    width: 90%;
  }
}

@media (max-width: 430px) {
  .promo .promo__wrapper {
    width: 100%;
  }
}

.promo__img {
  width: 40%;
  height: 100%;
}

.promo .promo__block {
  color: #fff;
}

@media (max-width: 490px) {
  .promo .promo__block {
    margin: 0 auto;
  }
}

.promo__title {
  font-weight: bold;
  font-size: 2.4375rem;
  line-height: 50px;
  letter-spacing: 2px;
  margin: 0 0 1.25rem 0;
}

@media (max-width: 1030px) {
  .promo__title {
    font-size: 2.1875rem;
  }
}

@media (max-width: 1030px) and (max-width: 430px) {
  .promo__title {
    font-size: 1.875rem;
  }
}

.promo__text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #ccc;
  margin: 0 0 2.5rem 0;
}

.promo__btn {
  display: inline-block;
  width: 10.5625rem;
  height: 3.125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.promo__btn:hover {
  background: #fff;
  color: #FFB619;
  border: 2px solid #fff;
}

@media (max-width: 490px) {
  .promo__btn {
    display: block;
    margin: 0 auto;
  }
}

.promo__btn-learn {
  position: relative;
  background: #FFB619;
  border: transparent;
  margin-right: 0.9375rem;
}

@media (max-width: 490px) {
  .promo__btn-learn {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.9375rem;
  }
}

.promo__btn-learn:hover {
  background: #fff;
  color: #FFB619;
}

.promo__btn-quote {
  background: none;
  border: 2px solid #fff;
}

.promo .promo__form {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: 23.125rem;
  height: 25rem;
  border: none;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
  background: #efefef;
  text-align: center;
  padding-top: 3.125rem;
  opacity: 1;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@media (max-width: 360px) {
  .promo .promo__form {
    width: 100%;
  }
}

@-webkit-keyframes "animatetop" {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 60%;
    opacity: 1;
  }
}

@keyframes "animatetop" {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 60%;
    opacity: 1;
  }
}

.promo .promo__form .form-close {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  color: #000;
  cursor: pointer;
}

.promo .promo__form .form__input {
  width: 16.875rem;
  height: 3.125rem;
  padding: 1.25rem;
  border: none;
  margin-top: 0.9375rem;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
}

@media (max-width: 360px) {
  .promo .promo__form .form__input {
    width: 75%;
  }
}

.promo .promo__form .form__btn {
  display: block;
  width: 8.1875rem;
  height: 3.125rem;
  color: #fff;
  font-weight: bold;
  background: #FFB619;
  border: 2px solid #FFB619;
  margin: 0 auto;
  margin-top: 2.5rem;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.promo .promo__form .form__btn:hover {
  background: none;
  color: #FFB619;
}

.error {
  outline: 2px solid #f5a783 !important;
  border-radius: 3px;
}

.skill {
  position: relative;
}

.skill .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
}

.skill .skill__sup-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.125rem 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .skill .skill__sup-wrapper {
    padding: 1.625rem 0.9375rem;
  }
}

@media (max-width: 720px) and (max-width: 535px) {
  .skill .skill__sup-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skill .skill__sup-wrapper__sup-info {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  height: 6.25rem;
}

.skill .skill__sup-wrapper .skill__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9.375rem;
  background: url("../img/skill-bg.jpeg") center/cover no-repeat;
  z-index: -1;
}

@media (max-width: 720px) {
  .skill .skill__sup-wrapper .skill__bg {
    height: 6.25rem;
  }
}

@media (max-width: 535px) {
  .skill .skill__sup-wrapper .skill__bg {
    height: 8.75rem;
  }
}

.skill .skill__sup-wrapper .skill__sup-text {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.375rem;
  color: #333333;
  margin: 0;
}

@media (max-width: 720px) {
  .skill .skill__sup-wrapper .skill__sup-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 535px) {
  .skill .skill__sup-wrapper .skill__sup-text {
    margin-bottom: 0.9375rem;
  }
}

.skill .skill__sup-wrapper .skill__btn {
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0.8125rem 1.1875rem;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #FFB619;
  border: 2px solid #FFB619;
}

@media (max-width: 720px) {
  .skill .skill__sup-wrapper .skill__btn {
    font-size: 0.875rem;
  }
}

@media (max-width: 535px) {
  .skill .skill__sup-wrapper .skill__btn {
    padding: 0.8125rem 0.75rem;
  }
}

.skill .skill__sup-wrapper .skill__btn:hover {
  background: #fff;
  color: #FFB619;
  border: 2px solid #FFB619;
}

.skill .skill__sup-wrapper .skill__btn i {
  margin-right: 0.625rem;
}

.skill .skill__wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  padding: 3.125rem 0.9375rem;
}

.skill .skill__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 45rem) {
  .skill .skill__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.skill .skill__info .skill__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37%;
          flex: 0 0 37%;
}

@media (max-width: 45rem) {
  .skill .skill__info .skill__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.25rem;
            flex: 0 0 16.25rem;
    position: relative;
    max-width: 100%;
    -o-object-fit: none;
       object-fit: none;
  }
}

.skill .skill__info .skill__img img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 29.375rem) {
  .skill .skill__info .skill__img img {
    height: 80%;
  }
}

.skill .skill__topic {
  position: relative;
  font-weight: 900;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
  text-transform: uppercase;
  color: #333333;
  padding: 1.1875rem 0;
}

@media (max-width: 45rem) {
  .skill .skill__topic {
    padding-top: 0;
  }
}

.skill .skill__topic::after {
  content: "";
  display: block;
  width: 3.75rem;
  padding-top: 1.25rem;
  border-bottom: 3px solid #013E99;
}

.skill .skill__descr {
  color: #666;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1170 - 320)));
  line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1170 - 320)));
  margin: 0 0 2.4375rem 0;
}

@media (max-width: 45rem) {
  .skill .skill__descr {
    margin-bottom: 1.25rem;
  }
}

.skill .skill__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: calc((5px + (20 - 5) * ((100vw - 320px)) / (1170 - 320)));
  margin-left: calc((5px + (25 - 5) * ((100vw - 320px)) / (1170 - 320)));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 45rem) {
  .skill .skill__items {
    margin: 0;
  }
}

@media (max-width: 26.5rem) {
  .skill .skill__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skill .skill__item {
  padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1170 - 320)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-top: 0;
}

@media (max-width: 45rem) {
  .skill .skill__item {
    padding-top: 1.25rem;
  }
}

@media (max-width: 45rem) and (max-width: 29.375rem) {
  .skill .skill__item {
    padding-top: 0;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 26.5rem) {
  .skill .skill__item {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 1.25rem;
  }
}

.skill .skill__icon {
  height: calc(30px + (50 - 30) * ((100vw - 320px) / (1170 - 320)));
  width: auto;
  background: #013E99;
  padding: 0.8125rem;
  margin-right: 0.875rem;
}

@media (max-width: 720px) {
  .skill .skill__icon {
    width: 2.1875rem;
    height: 2.1875rem;
    padding: 0.5rem;
  }
}

.skill .skill__title {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1170 - 320)));
  font-weight: bold;
  color: #333;
  margin: 0 0 0.4375rem 0;
}

@media (max-width: 1023px) {
  .skill .skill__title {
    margin: 0;
  }
}

.skill .skill__text {
  font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1170 - 320)));
  line-height: calc(12px + (20 - 12) * ((100vw - 320px) / (1170 - 320)));
  color: #666;
}

.services {
  background: url(../img/bg-service.jpeg);
  padding: 5rem 0 6.25rem;
}

@media (max-width: 47.9375rem) {
  .services {
    padding: 3.125rem 0 4.375rem;
  }
}

.services .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  text-align: center;
  margin: 0 auto;
  color: #fff;
}

.services__title {
  font-weight: 900;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1170 - 320)));
  text-transform: uppercase;
  margin: 0;
}

.services__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3.75rem;
  padding-top: 1.25rem;
  border-bottom: 3px solid #FFB619;
  margin-bottom: 4rem;
}

@media (max-width: 36.875rem) {
  .services__title::after {
    margin: 0 auto;
  }
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 36.875rem) {
  .services__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.25rem;
    padding: 3.125rem 0;
  }
}

@media (max-width: 26.5rem) {
  .services__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__proff {
  width: 24%;
  height: auto;
  background: none;
  border: 4px solid #013E99;
  padding: 3.0625rem 1.1875rem 0;
  padding-bottom: calc(20px + (52 - 20) * ((100vw - 320px) / (1170 - 320)));
  margin-bottom: 4.0625rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.services__proff:hover {
  background: #013E99;
}

@media (max-width: 48.0625rem) {
  .services__proff {
    padding: 1.875rem 0.625rem;
  }
}

@media (max-width: 36.875rem) {
  .services__proff {
    width: 40%;
    margin: 0;
  }
}

@media (max-width: 26.5rem) {
  .services__proff {
    width: 13.75rem;
  }
}

.services__link {
  text-decoration: none;
}

.services__icon {
  width: calc(20px + (50 - 20) * ((100vw - 320px) / (1170 - 320)));
  height: 3.625rem;
  margin-bottom: 1.6875rem;
}

@media (max-width: 48.0625rem) {
  .services__icon {
    margin-bottom: 0.8125rem;
  }
}

@media (max-width: 26.5rem) {
  .services__icon {
    width: calc(40px + (50 - 20) * ((100vw - 320px) / (1170 - 320)));
  }
}

.services__name {
  font-weight: bold;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)));
  margin: 0;
  margin-bottom: 0.8125rem;
  color: #fff;
}

.services__text {
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1170 - 320)));
  line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)));
  color: #CCC;
}

.services__btn {
  display: inline-block;
  color: #fff;
  margin: 0 auto;
  background: #FFB619;
  border: 2px solid #FFB619;
  text-transform: uppercase;
  padding: 1rem 2.1875rem;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.services__btn:hover {
  background: none;
  border: 2px solid #FFB619;
}

.project .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  padding: calc(50px + (80 - 50) * ((100vw - 320px) / (1170 - 320))) 0 calc(60px + (137 - 60) * ((100vw - 320px) / (1170 - 320)));
}

.project__title {
  font-weight: 900;
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1170 - 320)));
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

.project__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3.75rem;
  padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1170 - 320)));
  border-bottom: 3px solid #013E99;
  margin-bottom: 2.625rem;
}

@media (max-width: 31.25rem) {
  .project__title::after {
    margin: 0 auto;
  }
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-transform: uppercase;
  margin: 0 0 2.125rem 0;
  padding: 0;
}

.project__link {
  font-weight: bold;
  color: #666;
  text-decoration: none;
  margin: 0 0.9375rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.project__link:hover {
  color: #FFB619;
}

@media (max-width: 44.375rem) {
  .project__link {
    margin: 0 calc(4px + (16 - 4) * ((100vw - 320px) / (1170 - 320)));
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 31.25rem) {
  .project__link {
    display: none;
  }
}

.project .project__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4.0625rem;
}

@media (max-width: 26.625rem) {
  .project .project__cards {
    gap: 3px;
  }
}

@media (max-width: 26.875rem) {
  .project .project__cards {
    gap: 15px;
  }
}

.project .project__picture-1 {
  background: url("../img/project_jmg-1.jpeg") center/cover no-repeat;
}

.project .project__picture-2 {
  background: url("../img/project_jmg-2.jpeg") center/cover no-repeat;
}

.project .project__picture-3 {
  background: url("../img/project_jmg-3.jpeg") center/cover no-repeat;
}

.project .project__picture-4 {
  background: url("../img/project_jmg-4.jpeg") center/cover no-repeat;
}

.project .project__picture-5 {
  background: url("../img/project_jmg-5.jpeg") center/cover no-repeat;
}

.project .project__picture-6 {
  background: url("../img/project_jmg-6.jpeg") center/cover no-repeat;
}

.project .project__picture {
  position: relative;
  width: 24.375rem;
  height: 18.25rem;
}

.project .project__picture:hover .project__overlay {
  opacity: 1;
}

@media (max-width: 75rem) {
  .project .project__picture {
    width: 33.333%;
    height: calc(90px + (292 - 90) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 26.875rem) {
  .project .project__picture {
    margin: 0 auto;
    width: 80%;
    height: 130px;
  }
}

.project .project__picture .project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18.25rem;
  padding: 6.8125rem 0.5rem 6.1875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(28, 62, 155, 0.8)), to(rgba(28, 62, 155, 0.8)));
  background: -webkit-linear-gradient(bottom, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8));
  background: -o-linear-gradient(bottom, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8));
  background: linear-gradient(0deg, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8));
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 75rem) {
  .project .project__picture .project__overlay {
    padding-top: calc(10px + (109 - 10) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(15px + (99 - 15) * ((100vw - 320px) / (1170 - 320)));
    height: calc(90px + (292 - 90) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 26.875rem) {
  .project .project__picture .project__overlay {
    height: 130px;
  }
}

.project .project__picture .project__overlay .project__name {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: #FFB619;
  margin: 0 0 0.3125rem 0;
}

@media (max-width: 75rem) {
  .project .project__picture .project__overlay .project__name {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1170 - 320)));
    line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 23.75rem) {
  .project .project__picture .project__overlay .project__name {
    display: none;
  }
}

.project .project__picture .project__overlay .project__subname {
  text-align: center;
  color: #CCC;
  margin: 0 0 1.0625rem 0;
}

@media (max-width: 75rem) {
  .project .project__picture .project__overlay .project__subname {
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 23.75rem) {
  .project .project__picture .project__overlay .project__subname {
    color: #FFB619;
    margin: 0 0 1.875rem 0;
    font-size: 1.125rem;
  }
}

.project .project__picture .project__overlay .project__search {
  display: block;
  width: 25px;
  text-align: center;
  margin: 0 auto;
}

.project .project__picture .project__overlay .project__search a {
  color: #fff;
}

@media (max-width: 41.25rem) {
  .project .project__picture .project__overlay .project__search {
    display: none;
  }
}

@media (max-width: 26.875rem) {
  .project .project__picture .project__overlay .project__search {
    display: block;
    width: 25px;
  }
}

.project .project__btn {
  text-align: center;
  display: block;
  width: 10.625rem;
  height: 3.125rem;
  color: #fff;
  margin: 0 auto;
  background: #FFB619;
  border: 2px solid #FFB619;
  text-transform: uppercase;
  padding: 0.8125rem 0;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.project .project__btn:hover {
  background: none;
  color: #FFB619;
  border: 2px solid #FFB619;
}

.anyproblem {
  background: url("../img/bg_img.png") center/cover no-repeat;
  padding: 11rem 0 13.625rem;
}

.anyproblem .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
}

.anyproblem .wrapper .anyproblem__title {
  width: 31.5rem;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3.25rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 2rem 0;
}

.anyproblem .wrapper .anyproblem__btn {
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 0.8125rem 1.1875rem;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #FFB619;
  border: 2px solid #FFB619;
}

.anyproblem .wrapper .anyproblem__btn:hover {
  background: #fff;
  color: #FFB619;
  border: 2px solid #FFB619;
}

.anyproblem .wrapper .anyproblem__btn i {
  margin-right: 0.625rem;
}

.location {
  background: url("../img/skill-bg.png") center/cover no-repeat;
}

.location .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0 6.125rem;
}

.location__title {
  font-weight: 900;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 0 0 3.4375rem 0;
  color: #333;
}

.location__title::after {
  content: "";
  display: block;
  width: 3.75rem;
  padding-top: 1.25rem;
  border-bottom: 3px solid #013E99;
  margin-bottom: 2.625rem;
}

.location__place {
  margin-right: 3.8125rem;
  -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
}

.location__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location__input {
  width: 19.375rem;
  height: 3.125rem;
  margin-bottom: 20px;
  padding: 0 1.375rem;
  border: none;
  color: #666;
}

.location__input:hover {
  -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
}

.location__input:valid {
  border: 3px solid #d7fbdf;
}

.location__area {
  width: 39.8125rem;
  height: 7.9375rem;
  margin-bottom: 2.1875rem;
  padding: 0.8125rem 1.375rem;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #666;
}

.location__area:hover {
  -webkit-box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.3);
}

.location__btn {
  width: 8.1875rem;
  height: 3.125rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8125rem 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #FFB619;
  border: 2px solid #FFB619;
}

.location__btn:hover {
  background: none;
  color: #FFB619;
  border: 2px solid #FFB619;
}

.stamp {
  padding: 3.4375rem 0;
}

.stamp .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  background: #1A1A1A;
  padding-top: 3.5625rem;
}

.footer .wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 15px;
  /* ------- Адаптивная верстка (при необхдимости раскомментировать)------------- */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #CCC;
  margin: 0 0 2rem 0;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footer li {
  line-height: 1.375rem;
  color: #999;
  list-style: none;
}

.footer__contact-info {
  padding: 0;
}

.footer__contact-info i {
  text-align: center;
  font-size: 1.375rem;
  width: 3.125rem;
  height: 3.125rem;
  color: #FFB619;
  background: #252525;
  border-radius: 50%;
  padding: 0.875rem;
  margin-right: 0.9375rem;
  margin-bottom: 0.625rem;
}

.footer__info-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-phone span {
  font-weight: bold;
  font-size: 18px;
  color: #ccc;
}

.footer .footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 21.625rem;
  height: 23.75rem;
}

.footer .footer__link {
  margin-bottom: 0.9375rem;
}

.footer .footer__link i {
  margin-right: 1.25rem;
  color: #FFB619;
}

.footer .footer__link a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.footer .footer__link a:hover {
  color: #FFB619;
}

.footer__coupon {
  width: 23.125rem;
  height: 13.75rem;
  border: 2px dashed #404040;
  text-align: center;
}

.footer__number {
  font-weight: bold;
  color: #CCC;
  text-transform: uppercase;
  margin-top: 2.1875rem;
}

.footer__number span {
  font-weight: 900;
  font-size: 3.4375rem;
  text-transform: uppercase;
  color: #FFB619;
  margin: 0.625rem 0.9375rem;
}

.footer__subnumber {
  font-weight: bold;
  font-size: 1.125rem;
  color: #CCC;
  margin-bottom: 3.125rem;
}

.footer__code {
  color: #CCC;
}

.footer__code span {
  color: #FFB619;
}

.footer__copyright {
  display: block;
  padding: 1.1875rem 0;
  background: #0D0D0D;
  text-align: center;
  color: #666;
  margin: 0;
}

.footer__copyright span {
  color: #FFB619;
}
/*# sourceMappingURL=style.css.map */