@function rem($value)
  $remValue: ($value / 16) + rem
  @return $remValue

$orangeColor: #FFB619
$blueColor: #013E99

@mixin colorBorder
  color: $orangeColor
  border: 2px solid $orangeColor

@mixin backgroundBorder
  background: $orangeColor
  border: 2px solid $orangeColor

@mixin wrapPosition
  max-width: rem(1170)
  margin: 0 auto
  padding: 0 15px
