@import mixin
@import supheader
@import header
@import menu-burger
@import promo
@import skill
*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	scroll-behavior: smooth

body
	font-family: 'Lato', sans-serif
	font-size: rem(16)
	line-height: rem(24)

.content
	flex-grow: 1

._lock
	overflow: hidden

// ======================= Burger =============================

// ======================== Promo =============================

// ======================== skill =============================

// ======================= Servises ===========================
.services
	background: url(../img/bg-service.jpeg)
	padding: rem(80) 0 rem(100)
	@media(max-width: rem(767))
		padding: rem(50) 0 rem(70)

	.wrapper
		@include wrapPosition
		text-align: center
		margin: 0 auto
		color: #fff

	&__title
		font-weight: 900
		font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1170 - 320)))
		text-transform: uppercase
		margin: 0
		&::after
			content: ""
			display: block
			margin: 0 auto
			width: rem(60)
			padding-top: rem(20)
			border-bottom: 3px solid $orangeColor
			margin-bottom: rem(64)

			@media(max-width: rem(590))
				margin: 0 auto

	&__block
		display: flex
		justify-content: space-between
		@media(max-width: rem(590))
			justify-content: center
			flex-wrap: wrap
			gap: rem(20)

			padding: rem(50) 0

		@media(max-width: rem(424))
			justify-content: center

	&__proff
		width: 24%
		height: auto
		background: none
		border: 4px solid $blueColor
		padding: rem(49) rem(19) 0
		padding-bottom: calc(20px + (52 - 20) * ((100vw - 320px) / (1170 - 320)))
		margin-bottom: rem(65)
		transition: .2s
		&:hover
			background: $blueColor
		@media(max-width: rem(769))
			padding: rem(30) rem(10)
		@media(max-width: rem(590))
			width: 40%
			margin: 0
		@media(max-width: rem(424))
			width: rem(220)

	&__link
		text-decoration: none

	&__icon
		width: calc(20px + (50 - 20) * ((100vw - 320px) / (1170 - 320)))
		height: rem(58)
		margin-bottom: rem(27)
		@media(max-width: rem(769))
			margin-bottom: rem(13)

		@media(max-width: rem(424))
			width: calc(40px + (50 - 20) * ((100vw - 320px) / (1170 - 320)))

	&__name
		font-weight: bold
		font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)))
		margin: 0
		margin-bottom: rem(13)
		color: $whiteColor

	&__text
		font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1170 - 320)))
		line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)))
		color: $mainColor

	&__btn
		display: inline-block
		color: $whiteColor
		margin: 0 auto
		@include backgroundBorder
		text-transform: uppercase
		padding: rem(16) rem(35)
		text-decoration: none
		transition: .2s
		&:hover
			background: none
			border: 2px solid $orangeColor

// ======================= Project ============================
.project
	.wrapper
		@include wrapPosition
		padding: calc(50px + (80 - 50) * ((100vw - 320px) / (1170 - 320))) 0

	&__title
		font-weight: 900
		font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1170 - 320)))
		text-align: center
		color: $blackColor
		text-transform: uppercase
		margin: 0
		&::after
			content: ""
			display: block
			margin: 0 auto
			width: rem(60)
			padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1170 - 320)))
			border-bottom: 3px solid $blueColor
			margin-bottom: rem(42)

			@media(max-width: rem(500))
				margin: 0 auto

	&__list
		display: flex
		justify-content: center
		list-style: none
		text-transform: uppercase
		margin: 0 0 rem(34) 0
		padding: 0

	&__link
		font-weight: bold
		color: $darkGreyColor
		text-decoration: none
		margin: 0 rem(15)
		transition: .2s
		&:hover
			color: $orangeColor

		@media(max-width: rem(710))
			margin: 0 calc(4px + (16 - 4) * ((100vw - 320px) / (1170 - 320)))
			font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1170 - 320)))

		@media(max-width: rem(500))
			display: none

	.project__cards
		display: flex
		flex-wrap: wrap
		margin-bottom: rem(50)

		@media(max-width: rem(426))
			gap: rem(3)

		@media(max-width: rem(430))
			gap: rem(15)

	.project__picture-1
		background: url('../img/project_jmg-1.jpeg')center / cover no-repeat
	.project__picture-2
		background: url('../img/project_jmg-2.jpeg')center / cover no-repeat
	.project__picture-3
		background: url('../img/project_jmg-3.jpeg')center / cover no-repeat
	.project__picture-4
		background: url('../img/project_jmg-4.jpeg')center / cover no-repeat
	.project__picture-5
		background: url('../img/project_jmg-5.jpeg')center / cover no-repeat
	.project__picture-6
		background: url('../img/project_jmg-6.jpeg')center / cover no-repeat

	.project__picture
		position: relative
		width: rem(390)
		height: rem(292)

		&:hover .project__overlay
			opacity: 1

		@media(max-width: rem(1200))
			width: 33.333%
			height: calc(90px + (292 - 90) * ((100vw - 320px) / (1170 - 320)))

		@media(max-width: rem(430))
			margin: 0 auto
			width: 80%
			height: rem(130)

		.project__overlay
			position: absolute
			top: 0
			left: 0
			right: 0
			height: rem(292)
			padding: rem(109) rem(8) rem(99)
			justify-content: center
			align-items: center
			background: linear-gradient(0deg, rgba(28, 62, 155, 0.8), rgba(28, 62, 155, 0.8))
			opacity: 0
			transition: 0.4s

			@media(max-width: rem(1200))
				padding-top: calc(10px + (109 - 10) * ((100vw - 320px) / (1170 - 320)))
				padding-bottom: calc(15px + (99 - 15) * ((100vw - 320px) / (1170 - 320)))
				height: calc(90px + (292 - 90) * ((100vw - 320px) / (1170 - 320)))

			@media(max-width: rem(430))
				height: rem(130)

			.project__name
				font-weight: bold
				font-size: rem(20)
				text-align: center
				color: $orangeColor
				margin: 0 0 rem(5) 0

				@media(max-width: rem(1200))
					font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1170 - 320)))
					line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)))

				@media(max-width: rem(500))
					display: none

			.project__subname
				text-align: center
				color: $mainColor
				margin: 0 0 rem(17) 0
				@media(max-width: rem(1200))
					font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1170 - 320)))

				@media(max-width: rem(500))
					color: $orangeColor
					margin: 0 0 rem(30) 0
					font-size: rem(18)

			.project__search
				display: block
				width: rem(25)
				text-align: center
				margin: 0 auto

				a
					color: $whiteColor

				@media(max-width: rem(660))
					display: none

				@media(max-width: rem(430))
					display: block
					width: rem(25)

	.project__btn
		text-align: center
		display: block
		width: rem(170)
		height: rem(50)
		color: $whiteColor
		margin: 0 auto
		@include backgroundBorder
		text-transform: uppercase
		padding: rem(13) 0
		text-decoration: none
		transition: .2s
		&:hover
			background: none
			@include colorBorder

// ======================= Anypromlem =========================
.anyproblem
	background: url(../img/flat-rescue.jpeg)center / cover no-repeat
	padding: calc(50px + (176 - 50) * ((100vw - 320px) / (1170 - 320))) 0

	.wrapper
		@include wrapPosition

		.anyproblem__title
			max-width: rem(504)
			font-weight: bold
			font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1170 - 320)))
			line-height: calc(40px + (52 - 40) * ((100vw - 320px) / (1170 - 320)))
			color: $whiteColor
			letter-spacing: 1.3px
			text-transform: uppercase
			margin: 0 0 rem(32) 0
			@media(max-width: rem(377))
				text-align: center

		.anyproblem__btn
			display: inline-block
			padding: rem(13) rem(19)
			cursor: pointer
			transition: .2s
			@include backgroundBorder

			&:hover
				background: none
				@include colorBorder

			@media(max-width: rem(377))
				margin: 0 auto
				display: block
				width: fit-content

			a
				font-weight: bold
				line-height: rem(18)
				text-transform: uppercase
				text-decoration: none
				color: $whiteColor
				&:hover
					color: $orangeColor

			i
				margin-right: rem(10)

// ======================= Location ===========================
.location
	background: url('../img/skill-bg.jpeg')center / cover no-repeat

	.wrapper
		@include wrapPosition
		display: flex
		justify-content: flex-start
		padding: rem(80) rem(15)
		gap: calc(5px + (50 - 20) * ((100vw - 320px) / (1170 - 320)))
		@media(max-width: rem(767))
			flex-direction: column-reverse
			max-width: 100%
			margin: 0 auto
		@media(max-width: rem(427))
			padding: rem(40) rem(15)

	&__title
		position: relative
		font-weight: 900
		font-size: rem(30)
		text-transform: uppercase
		margin: 0 0 rem(55) 0
		color: $blackColor
		&::after
			position: absolute
			content: ""
			top: 40px
			left: 0
			display: block
			width: rem(60)
			border-bottom: 3px solid $blueColor
			margin-bottom: rem(42)
		@media(max-width: rem(767))
			text-align: center
			display: inline-block
			font-size: rem(24)

	&__place
		width: 100%
		width: rem(482)
		height: auto
		box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.30)
		overflow: hidden

		@media(max-width: rem(1025))
			width: calc(250px + (450 - 250) * ((100vw - 320px) / (1170 - 320)))
		@media(max-width: rem(767))
			width: 100%

	&__form
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		row-gap: rem(10)
		@media(max-width: rem(767))
			gap: 10px
			justify-content: space-between
		@media(max-width: rem(460))
			flex-direction: column
			gap: rem(15)

	&__input
		max-width: rem(302)
		width: 49%
		height: rem(50)
		padding: 0 rem(22)
		border: none
		outline: none
		color: $darkGreyColor
		&:hover
			box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.30)

		&:valid
			border-radius: 3px
		@media(max-width: rem(767))
			max-width: 48%
		@media(max-width: rem(460))
			max-width: 100%
			width: 100%
			margin: 0 auto

	&__area
		width: 100%
		height: rem(127)
		margin-bottom: rem(35)
		padding: rem(13) rem(22)
		border: none
		outline: none
		font-family: 'Lato', sans-serif
		font-size: rem(16)
		color: $darkGreyColor
		&:hover
			box-shadow: 1px 1px 16px 0px rgba(50, 50, 50, 0.30)

		@media(max-width: rem(767))
			margin-bottom: rem(15)

	&__btn
		width: rem(131)
		height: rem(50)
		color: $whiteColor
		font-weight: bold
		text-transform: uppercase
		padding: rem(13) 0
		text-decoration: none
		cursor: pointer
		transition: .2s
		@include backgroundBorder
		@media(max-width: rem(767))
			margin-bottom: rem(60)

		&:hover
			background: none
			@include colorBorder

// ======================== Stamp =============================
.stamp
	padding: rem(55) 0
	@media(max-width: rem(427))
		padding: rem(30)

	.wrapper
		@include wrapPosition
		display: flex
		justify-content: space-around
		gap: rem(10)

		img
			width: calc(60px + (110 - 60) * ((100vw - 320px) / (1170 - 320)))
			height: auto

// ======================= Footer =============================
.footer
	background: #1A1A1A
	padding-top: rem(57)

	.wrapper
		@include wrapPosition
		display: flex
		justify-content: space-between
		gap: rem(10);
		@media(max-width: rem(1027))
			justify-content: center
			flex-wrap: wrap
			gap: rem(30)
			font-size: rem(14)

	&__contacts,
	&__services
		@media(max-width: rem(1027))
			margin: 0 auto

	&__title
		font-weight: bold
		font-size: rem(18)
		text-transform: uppercase
		color: $mainColor
		margin: 0 0 rem(32) 0
		@media(max-width: rem(630))
			text-align: center

	&__list-services
		@media(max-width: rem(767))
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 0
			margin: 0

	li
		line-height: rem(22)
		color: $footerColor
		list-style: none

	&__contact-info
		padding: 0

		i
			text-align: center
			font-size: rem(22)
			width: rem(50)
			height: rem(50)
			color: $orangeColor
			background: #252525
			border-radius: 50%
			padding: rem(14)
			margin-right: rem(15)
			margin-bottom: rem(10)

	&__info-phone
		display: flex
		span
			font-weight: bold
			font-size: rem(18)
			color: $mainColor

	.footer__lists
		display: flex
		justify-content: space-between
		max-width: rem(346)
		height: rem(380)
		gap: rem(15)
		@media(max-width: rem(1027))
			height: 100%

		@media(max-width: rem(767))
			flex-wrap: wrap

			max-height: rem(220)

	.footer__link
		margin-bottom: rem(18)

		i
			margin-right: rem(20)
			color: $orangeColor
			@media(max-width: rem(374))
				margin-right: rem(10)

		a
			color: $footerColor
			text-decoration: none
			cursor: pointer
			transition: .2s
			&:hover
				color: $orangeColor

	&__coupon
		width: rem(370)
		height: 100%
		border: 2px dashed #404040
		padding: rem(30) rem(10)
		text-align: center
		@media(max-width: rem(1027))
			margin: 0 auto rem(30)

	&__number
		font-weight: bold
		color: $mainColor
		text-transform: uppercase

		span
			font-weight: 900
			font-size: rem(55)
			text-transform: uppercase
			color: $orangeColor
			margin: rem(10) rem(15)

	&__subnumber
		font-weight: bold
		font-size: rem(18)
		color: $mainColor
		margin-bottom: rem(50)

	&__code
		color: $mainColor
		span
			color: $orangeColor

.footer__copyright
	display: block
	padding: rem(19) 0
	background: #0D0D0D
	text-align: center
	color: $darkGreyColor
	margin: 0
	@media(max-width: rem(427))
		font-size: rem(14)

	span
		color: $orangeColor
