@import mixin
@import supheader
@import header
@import menu-burger
@import promo
@import skill
@import services
@import project
@import anyproblem
@import location
@import stamp
@import footer

*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	scroll-behavior: smooth

body
	font-family: 'Lato', sans-serif
	font-size: rem(16)
	line-height: rem(24)

.content
	flex-grow: 1

._lock
	overflow: hidden

._active
	transform: translate(0, 0)
	opacity: 1

// ._anim-show
// 	transform: translate(0, 120%)
// 	opacity: 0
// 	transition: all 0.8s ease 0s;
