@import mixin
@import supheader
@import header
@import menu-burger
@import promo
@import skill
@import services
@import project
@import anyproblem
@import location
@import stamp

*
	box-sizing: border-box
	margin: 0
	padding: 0

html
	scroll-behavior: smooth

body
	font-family: 'Lato', sans-serif
	font-size: rem(16)
	line-height: rem(24)

.content
	flex-grow: 1

._lock
	overflow: hidden

// ======================= Burger =============================

// ======================== Promo =============================

// ======================== skill =============================

// ======================= Servises ===========================

// ======================= Project ============================

// ======================= Anypromlem =========================

// ======================= Location ===========================

// ======================== Stamp =============================

// ======================= Footer =============================
.footer
	background: #1A1A1A
	padding-top: rem(57)

	.wrapper
		@include wrapPosition
		display: flex
		justify-content: space-between
		gap: rem(10);
		@media(max-width: rem(1027))
			justify-content: center
			flex-wrap: wrap
			gap: rem(30)
			font-size: rem(14)

	&__contacts,
	&__services
		@media(max-width: rem(1027))
			margin: 0 auto

	&__title
		font-weight: bold
		font-size: rem(18)
		text-transform: uppercase
		color: $mainColor
		margin: 0 0 rem(32) 0
		@media(max-width: rem(630))
			text-align: center

	&__list-services
		@media(max-width: rem(767))
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 0
			margin: 0

	li
		line-height: rem(22)
		color: $footerColor
		list-style: none

	&__contact-info
		padding: 0

		i
			text-align: center
			font-size: rem(22)
			width: rem(50)
			height: rem(50)
			color: $orangeColor
			background: #252525
			border-radius: 50%
			padding: rem(14)
			margin-right: rem(15)
			margin-bottom: rem(10)

	&__info-phone
		display: flex
		span
			font-weight: bold
			font-size: rem(18)
			color: $mainColor

	.footer__lists
		display: flex
		justify-content: space-between
		max-width: rem(346)
		height: rem(380)
		gap: rem(15)
		@media(max-width: rem(1027))
			height: 100%

		@media(max-width: rem(767))
			flex-wrap: wrap

			max-height: rem(220)

	.footer__link
		margin-bottom: rem(18)

		i
			margin-right: rem(20)
			color: $orangeColor
			@media(max-width: rem(374))
				margin-right: rem(10)

		a
			color: $footerColor
			text-decoration: none
			cursor: pointer
			transition: .2s
			&:hover
				color: $orangeColor

	&__coupon
		width: rem(370)
		height: 100%
		border: 2px dashed #404040
		padding: rem(30) rem(10)
		text-align: center
		@media(max-width: rem(1027))
			margin: 0 auto rem(30)

	&__number
		font-weight: bold
		color: $mainColor
		text-transform: uppercase

		span
			font-weight: 900
			font-size: rem(55)
			text-transform: uppercase
			color: $orangeColor
			margin: rem(10) rem(15)

	&__subnumber
		font-weight: bold
		font-size: rem(18)
		color: $mainColor
		margin-bottom: rem(50)

	&__code
		color: $mainColor
		span
			color: $orangeColor

.footer__copyright
	display: block
	padding: rem(19) 0
	background: #0D0D0D
	text-align: center
	color: $darkGreyColor
	margin: 0
	@media(max-width: rem(427))
		font-size: rem(14)

	span
		color: $orangeColor
